* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    // background: blue;
}

// Override default checkbox appearance
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
button {
    background: none;
    border: 2px solid white;
    color: white;
    // font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    border-radius: 2em;
    transition: all 0.5s ease;
    font-weight: bold;
    letter-spacing: 0.05em;
    &:focus {
        outline: none;
    }
    &:hover {
        background: rgb(156, 138, 185);
    }
    &:active {
        transform: scale(0.95);
    }
}
.options, .info {
    background: rgb(133, 95, 194);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}
.options {
    position: absolute;
    top: 0;
    left: 0; 
    transform: translateY(calc(-10vh - 10px));
    width: 100%;
    transition: 0.5s ease;
    box-shadow: rgb(40, 21, 71) 0 0 10px;
    input:focus {
        outline: none;
    }
    .check {
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid white;
        margin-right: 0.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        outline: none;
        &:focus {
            outline: none;
        }
        &:checked {
            background: white;
        }
        &:checked::after {
            content: '';
            background: rgb(133, 95, 194);
            position: absolute;
            left: 11px;
            height: 12px;
            width: 3px;
            transform: rotate(45deg);
        }
        &:checked::before {
            content: '';
            background: rgb(133, 95, 194);
            position: absolute;
            height: 6px;
            width: 3px;
            left: 5px;
            top: 8px;
            transform: rotate(-45deg);
        }
    }
}
.options.show {
    transform: translateY(0);
}
.info .category {
    // margin: 0 0.5em;
    font-weight: bold;
    &::after {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
        display: inline-block;
        transform: translateY(-2px);
        font-weight: normal;
        margin: 0 0.5em;
    }
    &:first-of-type {
        margin-left: 0.5em;
    }
    &:last-of-type::after {
        display: none;
    }
}
.quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(133, 95, 194);
    height: 90vh;

    .card-container {
        width: 400px;
        height: 600px;
        // max-height: 600px;
        // max-width: 400px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .possible-answers {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        .answer {
            color: white;
            font-weight: bold;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem;
            text-transform: uppercase;
            transition: all 0.25s;
            &:hover {
                background: rgb(156, 138, 185);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        .active {
            background-color: rgb(156, 138, 185);
        }
    }
}
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    background-color: rgba(133, 95, 194, 0.8);
}
.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0%;
    left: 0;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    background-color: rgba(133, 95, 194, 0.8);
}

.disappear {
    animation: disappear 1.8s cubic-bezier(0.68, -0.01, 0.64, 0.9);
}

@keyframes disappear {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0;
    }
}
